PORT=5000

DB_HOST=your_host.tsdb.cloud.timescale.com
DB_PORT=36704
DB_NAME=tsdb
DB_USER=tsdbadmin
DB_PASSWORD=your_password

ML_SERVICE_URL=http://localhost:8000
CLIENT_URL=http://localhost:5173

JWT_SECRET=your_jwt_secret_key_here

GMAIL_USER=your@gmail.com
GMAIL_APP_PASSWORD=your_app_password

CMC_API_KEY=your_cmc_api_key